<div class="card card-2">
    <img src="assets/image2.jpg" alt="Weather Image 2" class="card-image">
    <div class="card-content">
        <div class="weather-info">
            <div class="weather-details">
                <div class="weather-detail">
                    <span class="weather-label">Precipitation:</span>
                    <span id="precipitation" class="weather-value">{{ precipitation }}</span>
                </div>
                <div class="weather-detail">
                    <span class="weather-label">Humidity:</span>
                    <span id="humidity" class="weather-value">{{ humidity }}</span>
                </div>
                <div class="weather-detail">
                    <span class="weather-label">Wind:</span>
                    <span id="wind" class="weather-value">{{ wind }}</span>
                </div>
            </div>
        </div>
    </div>
</div>