<div class="card card-1">
  <img src="assets/image1.jpg" alt="Weather Image 1" class="card-image">
  <div class="card-content">
    <input type="text" [(ngModel)]="location" class="search-bar" placeholder="Enter location">
    <button (click)="fetchWeatherData()" class="search-button">Search</button>
    <div class="weather-info">
      <div id="day1">{{ day }}</div>
      <div id="date1">{{ date }}</div>
      <img id="weather-logo" class="weather-logo" [src]="weatherLogo" alt="Weather Logo">
      <div id="temperature1">{{ temperature }}</div>
    </div>
  </div>
</div>